/*login panel styling*/
.logInPanel {
    border-color: white;
}

#loginFormTable {
    margin-left: 100px;
    margin-top: 50px;
    width: 350px;
}

.loginFormMessage {
    text-align: center;
    font-size: 25px;
}

#login, #password {
    width: 200px;
}

#errorMessageBox {
    height: 30px;
    text-align: center;
    color: red;
    font-size: 30px;
}

#languageSelect {
    width: 150px;
}

#optionEN {
    background-image: url(/css/images/EN.png);
}

#optionRU {
    background-image: url(/css/images/RU.png);
}

#optionFR {
    background-image: url(/css/images/FR.png);
}

#optionDE {
    background-image: url(/css/images/DE.png);
}

#optionDef,#optionEN, #optionRU, #optionFR, #optionDE {
    height: 24px;
    background-position: right;
    background-repeat: no-repeat;
}

/*main panel styling*/
.mainPanel {
    border-color: blue;
}

.mainInfo {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.welcomePanel {
    height: 120px;
    margin-top: 40px;
    margin-left: auto;
}

.usernameData {

}

.staticText {
    color: gold;
    font-size: 30px;
}

.usernameData, .languageData {
    color: blue;
    font-size: 25px;
}

.languagePanel {
    height: 100px;
}

.languageData {

}

#flag {
    border-width: 1px;
    border-style: solid;
}

.logoutPanel {
    height: 50px;
    text-align: center;
}

.logoutButton {
    color: black;
    text-decoration: underline;
    cursor: pointer;
}

/*common styling*/
body {
    background-color: #808080;
}

.mainPanel, .logInPanel {
    margin-left: 400px;
    margin-top: 200px;
    height: 300px;
    width: 500px;
    background-color: white;
    border-style: solid;
    border-width: 3px;
}

